In [2]:
import torch

In [3]:
import torch.nn as nn

In [4]:
pre = torch.Size([2, 4, 6])

In [6]:
print(pre)

torch.Size([2, 4, 6])

In [15]:
tensor = torch.randn(2, 3, 4)

In [16]:
print( tensor)

tensor([[[ 1.5663,  0.2992, -1.7884,  0.0507],
         [-0.7636,  0.8487, -0.6076,  0.0482],
         [ 0.5086, -0.6193, -0.7650,  0.2765]],

        [[-2.6963, -0.7438, -0.3756,  1.8103],
         [ 0.0907,  0.0211, -0.3280, -1.0515],
         [-3.0831, -0.3144, -1.1610,  0.2794]]])

In [17]:
post = tensor.reshape(2,3,2,2)

In [18]:
print(post)

tensor([[[[ 1.5663,  0.2992],
          [-1.7884,  0.0507]],

         [[-0.7636,  0.8487],
          [-0.6076,  0.0482]],

         [[ 0.5086, -0.6193],
          [-0.7650,  0.2765]]],


        [[[-2.6963, -0.7438],
          [-0.3756,  1.8103]],

         [[ 0.0907,  0.0211],
          [-0.3280, -1.0515]],

         [[-3.0831, -0.3144],
          [-1.1610,  0.2794]]]])

In [19]:
self.values = nn.Linear(self.head_dim, self.head_dim, bias=False)

NameError: name 'self' is not defined

In [22]:
def __init__(self, embed_size, heads):
        super(SelfAttention, self).__init__()
        self.embed_size = embed_size
        self.heads = heads
        self.head_dim = embed_size // heads
        self.values = nn.Linear(self.head_dim, self.head_dim, bias=False)

In [23]:
lin = nn.Linear(2,2, bias=False)(post)

In [24]:
print(lin)

tensor([[[[ 1.0409, -0.9110],
          [-0.9927,  0.8074]],

         [[-0.0111, -0.1460],
          [-0.3218,  0.2559]],

         [[-0.0196,  0.1292],
          [-0.2975,  0.1942]]],


        [[[-1.9061,  1.7040],
          [ 0.6897, -0.8982]],

         [[ 0.0622, -0.0550],
          [-0.7115,  0.7775]],

         [[-1.9119,  1.6303],
          [-0.5214,  0.3779]]]], grad_fn=<UnsafeViewBackward0>)

In [3]:
import pandas as pd

In [135]:
df = pd.read_csv('city_compare/2022-03-01.csv',header=None)

In [136]:
df.shape

(4, 8)

In [137]:
output = pd.DataFrame()

In [138]:
for i in range(1, df.shape[1]-1):
    print(i)
    avg = (float(df.iloc[3, i]) - float(df.iloc[2, i])) / float(df.iloc[1, i])
    output.loc[0,i] = df.iloc[0,i]
    output.loc[1,i] = avg

1
2
3
4
5
6

In [139]:
output

             1           2            3          4         5           6
0        新一线城市        一线城市         二线城市       三线城市      五线城市        四线城市
1  3968.325342  5793.90633  4486.182244  4473.7132  1478.741  3206.36475

In [134]:
df = pd.read_csv('city_compare/2022-09-01.csv',header=None)

1
2
3
4
5

In [29]:
df.iloc[3, 1:]

0                轨迹二里程数
1     89943164.97999999
2    19369106.837000005
3     58384603.46199997
4     5542687.044999999
5    25852.144000000004
6    224062.35699999996
7            2022-03-01
Name: 3, dtype: object

In [30]:
s_int = df.iloc[3, 1:-1].astype(float)

In [32]:
df.iloc[3, 1:-1].astype(float) - df.iloc[2, 1:-1].astype(float)

1    5075488.112
2    1089254.390
3    3288371.585
4     313159.924
5       1478.741
6      12825.459
dtype: float64

In [38]:
result = (df.iloc[3, 1:-1].astype(float) - df.iloc[2, 1:-1].astype(float)) / df.iloc[1, 1:-1].astype(float)

In [39]:
result

1    3968.325342
2    5793.906330
3    4486.182244
4    4473.713200
5    1478.741000
6    3206.364750
dtype: float64

In [37]:
df.iloc[1, 1:-1].astype(float)

1    1279.0
2     188.0
3     733.0
4      70.0
5       1.0
6       4.0
Name: 1, dtype: float64

In [40]:
result.apped(df.iloc[:, -1])

AttributeError: 'Series' object has no attribute 'apped'

In [41]:
new_df = df.iloc[0, 1:-1].append(result, ignore_index=True)

AttributeError: 'Series' object has no attribute 'append'

In [42]:
df.iloc[0, 1:-1]

1    新一线城市
2     一线城市
3     二线城市
4     三线城市
5     五线城市
6     四线城市
Name: 0, dtype: object

In [43]:
result

1    3968.325342
2    5793.906330
3    4486.182244
4    4473.713200
5    1478.741000
6    3206.364750
dtype: float64

In [65]:
df.iloc[:1,:-1]

     0      1     2     3     4     5     6
0  NaN  新一线城市  一线城市  二线城市  三线城市  五线城市  四线城市

In [53]:
output = df.iloc[:1,:-1]

NameError: name 'result_list' is not defined

In [66]:
result.shape

(6,)

In [67]:
result

1    3968.325342
2    5793.906330
3    4486.182244
4    4473.713200
5    1478.741000
6    3206.364750
dtype: float64

In [109]:
output = pd.DataFrame()

In [111]:
for i in range(1,df.shape[1] - 1):
    avg = (float(df.iloc[3, i]) - float(df.iloc[2, i])) / float(df.iloc[1, i])
    output.loc[0,i] = df.iloc[0,i]
    output.loc[1,i] = avg

In [112]:
output

             1           2            3          4         5           6
0        新一线城市        一线城市         二线城市       三线城市      五线城市        四线城市
1  3968.325342  5793.90633  4486.182244  4473.7132  1478.741  3206.36475

In [108]:
tmp.iloc[0] = [1,2,3]

IndexError: iloc cannot enlarge its target object

In [99]:
print(df.iloc[:2,1:-1])

        1      2      3     4     5     6
0   新一线城市   一线城市   二线城市  三线城市  五线城市  四线城市
1  1279.0  188.0  733.0  70.0   1.0   4.0

df = pd.read_csv('cityrank_result.csv', header=None)

In [140]:
df = pd.read_csv('cityrank_result.csv', header=None)

In [141]:
categories = df.iloc[0, 1:].tolist()

In [143]:
df

,0,1,2,3,4
0,1,2,3,4,5
1,一线城市,新一线城市,二线城市,三线城市,四线城市
2,4.273151590887214,4.221855446018742,3.611423454375863,3.7727902877405417,9.060174936729933

In [148]:
df.iloc[1, :]

0     一线城市
1    新一线城市
2     二线城市
3     三线城市
4     四线城市
Name: 1, dtype: object

In [149]:
rat_list = [[7.98,10.61,7.6,6.83,12.2,5.41,6.71,12.09,9.16,7.07,9.05,5.11,8.02,6.34,5.56,7.63,10.57,8.42,7.98,7.49,8.7,9.96],zeros_list = [0] * 22,zeros_list = [0] * 22,]

In [151]:
len(rat_list)

3

In [153]:
len(rat_list[1])

0

In [154]:
rat_list[1][1]

IndexError: list index out of range

In [155]:
zeros_list = [0] * 22

In [156]:
zeros_list

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]